In [1]:
import pandas as pd
from docplex.mp.model import Model
import cplex
import json

# 1. Case

Sebuah rombongan akan menonton pertunjukan drama di sebuah teater. Dalam rombongan tersebut terdapat paling sedikit 21 orang dewasa dan 20 anak-anak. Rombongan tersebut membawa uang Rp 3.000.000,00 untuk membeli tiket. Harga tiket untuk orang dewasa Rp 40.000,00. Harga tiket untuk anak-anak Rp 30.000,00. Berapa jumlah tiket paling banyak yang dapat dibeli rombongan tersebut ?

# 2. Solve
Permasalahan di atas dapat diselesaikan menggunakan linier programming karena terdapat suatu fungsi yang perlu dimaksimumkan dengan constrain tertentu. Misalkan **x** adalah **banyaknya orang dewasa** dan **y** adalah **banyaknya anak-anak**, maka kasus tersebut dapat dimodelkan menjadi

#### Constraint
- x >= 21
- y >= 20
- 40.000x + 30.000y  <= 3.000.000

#### Goal (Objective)
- max(x+y)

In [2]:
# inisiasi model
m = Model(name='unit allocation')

In [3]:
# setup variabel
x = m.integer_var(name='x')
y = m.integer_var(name='y')

In [4]:
# setup constraint
m.add_constraint(x >= 21)
m.add_constraint(y >= 20)
m.add_constraint(40000*x + 30000*y <= 3000000)

docplex.mp.LinearConstraint[](40000x+30000y,LE,3000000)

In [5]:
# setup goals
m.maximize(x+y)

In [6]:
sol = m.solve()

In [7]:
sol.display()

solution for: unit allocation
objective: 93
x = 21
y = 72

In [11]:
## Convert to DataFrame

In [12]:
sol_json = json.loads(sol.export_as_json_string())

In [13]:
df_solusi = pd.DataFrame(sol_json['CPLEXSolution']['variables'])
df_solusi.drop('index',axis=1,inplace=True)
df_solusi.columns = ['variabel','total']

In [14]:
df_solusi

  variabel total
0        x  21.0
1        y  72.0

# 3. Kesimpulan 
Jadi jumlah tiket paling banyak yang bisa dibeli adalah 93 tiket